main {
  width: min(1200px, 86vw);
  align-self: center;
  padding-top: 30px;
}

@media (min-width: 700px) {
  main {
    padding-top: 50px;
  }
}

/* ------------------ Hero ------------------ */

.hero {
  --img-height: min(450px, 130vw);

  position: relative;
}

.hero-bg {
  display: none;
}

.hero .content {
  z-index: 1;
}

.pic-name {
  position: relative;
  margin: auto;
  margin-bottom: 32px;
  width: 90%;
}

.pic-name img {
  height: var(--img-height);
  width: 100%;

  object-fit: cover;

  box-shadow: 2px 4px 12px #30303060;
}

.name {
  position: absolute;
  bottom: 0;
  width: 250px;
  margin-left: 10px;

  font-size: 3.5rem;
  color: white;
  text-shadow: -1px 4px 6px #000000de;

  font-family: 'Josefin Sans';
}

.about-text > * {
  margin-bottom: 16px;
}

p.hero-text {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
}

.socials {
  padding-top: 6px;

  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 2.5rem;
}

/* --- Tablet View --- */
@media (min-width: 700px) {
  .hero {
    --img-height: 390px;

    padding-bottom: 6px;
  }

  .hero-bg {
    position: absolute;
    z-index: -1;
    top: 15%;

    height: 85%;
    width: 100%;
    display: block;

    background-color: white;
    box-shadow: 2px 2px 6px grey;
  }

  .hero .content {
    position: relative;
    left: -3.5vw;
  }

  .pic-name {
    position: static;
    float: left;
    margin: 0 16px 0 0;
    width: 370px;
  }

  .name {
    bottom: unset;
    top: 3%;
    width: 390px;
    right: -40px;
  }

  .about-text {
    padding-top: 150px;
    margin-left: 7vw;
  }

  .about-text > * {
    margin: 0;
  }

  .about-text h2 {
    margin-bottom: 16px;
  }

  .socials {
    justify-content: end;
  }
}

/* --- Desktop View --- */
@media (min-width: 1000px) {
  .hero {
    --img-height: 460px;

    height: var(--img-height);
    padding: 0;
  }

  .hero-bg {
    display: none;
  }

  .hero .content {
    position: static;
    display: flex;
    align-items: center;
  }

  .pic-name {
    position: relative;
    float: none;
    width: unset;
    margin: 0;
  }

  .pic-name img {
    width: 384px;
  }

  .name {
    bottom: -2px;
    top: unset;
    right: unset;
    width: unset;
    margin: 0 0 0 8px;

    font-size: 3.3rem;
  }

  .about-text {
    padding: 30px 30px 20px 16px;
    margin: 0;

    background-color: white;
    box-shadow: 2px 2px 6px grey;
  }

  .hero h2 {
    text-align: left;
  }
}

/* ------------------ /Hero ------------------ */

/* ------------------ Examples ------------------ */

.examples {
  margin: 100px 0;
}

.projects {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 50px;
}

.card {
  box-shadow: 2px 2px 10px darkgrey;
}

.card .image {
  height: 260px;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: var(--body-ff);
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
}

.card .body {
  --card-gap: 20px;

  height: 190px;
  padding: var(--card-gap);

  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.card .header {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.7rem;
}

.card .title {
  margin-right: auto;
  font-family: var(--body-ff);
  font-weight: 300;
}

.card .header .fa-external-link {
  position: relative;
  top: 2px;
  font-size: 1.5rem;
}

.card-1 .image {
  background-color: var(--card-img-1);
}

.card-2 .image {
  background-color: var(--card-img-2);
}

.card-3 .image {
  background-color: var(--card-img-3);
}

.card-4 .image {
  background-color: var(--card-img-4);
}

.card-5 .image {
  background-color: var(--card-img-5);
}

.card-6 .image {
  background-color: var(--card-img-6);
}

@media (min-width: 700px) {
  .examples h2 {
    text-align: left;
  }
}

/* ------------------ /Examples ------------------ */
