main {
  padding: 20px;
}

/* ------------------ Hero ------------------ */

.hero {
  display: flex;
  flex-direction: column;
}

.picture-name {
  position: relative;
  margin: 0 6px;
}

.hero img {
  height: 450px;
  width: 100%;

  object-fit: cover;

  box-shadow: 2px 4px 12px #30303060;
}

.name {
  position: absolute;
  bottom: 0;
  padding-left: 6px;

  font-size: 4.5rem;
  color: white;
  text-shadow: -1px 4px 6px #000000de;

  font-family: 'Josefin Sans';
}

.about-text {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

p.body-text,
p.description {
  color: var(--text-body);
  font-family: 'PT Sans';
}

p.body-text {
  font-size: 1.3rem;
}

.hero .socials {
  padding: 6px 0;

  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 2.1rem;
}

/* ------------------ /Hero ------------------ */

/* ------------------ Examples ------------------ */

.examples {
  margin: 100px 0;
}

.projects {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 50px;
}

.card {
  box-shadow: 2px 2px 8px darkgrey;
}

.card .image {
  height: 260px;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 3rem;
  text-align: center;
}

.card .body {
  --card-gap: 20px;

  height: 180px;
  padding: var(--card-gap);

  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.card .header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card .title {
  margin-right: auto;

  font-size: 1.2rem;
}

.card .header .fa-github {
  font-size: 1.7rem;
}

.card .header .fa-external-link {
  position: relative;
  top: 2px;
  font-size: 1.5rem;
}

.card-1 .image {
  background-color: var(--card-img-1);
}

.card-2 .image {
  background-color: var(--card-img-2);
}

.card-3 .image {
  background-color: var(--card-img-3);
}

.card-4 .image {
  background-color: var(--card-img-4);
}

.card-5 .image {
  background-color: var(--card-img-5);
}

.card-6 .image {
  background-color: var(--card-img-6);
}

/* ------------------ /Examples ------------------ */
