:root {
  /* Colors */
  --primary-bg: #0891b2;
  --text-body: #565656;
  --icons: #181616;

  --card-img-1: #7c75ca;
  --card-img-2: #d88f39;
  --card-img-3: #5e8f4e;
  --card-img-4: #cb7599;
  --card-img-5: #4793d9;
  --card-img-6: #9e1c1c;
}
