/* ---------------     Reboot     --------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
}

button {
  color: unset;
  background-color: unset;
  border: none;
  font-size: inherit;
  font-family: unset;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: unset;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

/* ---------------     /Reboot     --------------- */

/* ------------------ Universals ------------------ */

:root {
  /* Colors */
  --primary-bg: #0891b2;
  --text-body: #565656;
  --icons: #181616;

  --card-img-1: #7c75ca;
  --card-img-2: #d88f39;
  --card-img-3: #5e8f4e;
  --card-img-4: #cb7599;
  --card-img-5: #4793d9;
  --card-img-6: #9e1c1c;
}

/* ------------------ /Universals ------------------ */
